/*

    The Great Race
    CIS 131 - W01

    James McAdoo
    index.css
*/

body {
  background-image: url("background.jpg");
}

#kirby {
  position: absolute;
}

#kirbyImg, #poppyImg{
  width: 200px;
  height: auto;
}

#poppy {
  position: absolute;
  top: 400px;
}

#startButton{
  margin: 25px;
}

#startButton:hover {
  box-shadow: 5px 5px 5px black;
}
